<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NatDMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/myboot.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NatDMS.styles.css" asp-append-version="true" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/favicon" href="image/fevicon.png">
    <link rel="stylesheet" type="text/css" href="css/simple-line-icons.css">
    <!-- font-awesome icon -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="css/themify-icons.css">
    <!-- ion icon -->
    <link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
    <!-- owl slider -->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
    <!-- swiper -->
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <!-- animation -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/myboot.css">
    <link rel="stylesheet" type="text/css" href="~/css/dm-project-style.css">
    @RenderSection("BannerStyles", required: false)
    <!-- Bootstrap CSS -->
    <style>
               /*#fix {
            position: fixed;*/
/*            top: 0;*/
/*            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            background-color: white;*/
        /*}*/


        #fix {
            position: fixed;
            top: 0;
/*            left: 15;*/
            width: 100%;
            z-index: 1000;
        }
/*        #menu {
            position: fixed;
        }*/
        /*        .banner-container {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }*/
        #ver {
/*            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;*/
            overflow-x: hidden; /* Hide horizontal scrollbar */
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-items: stretch;
            justify-content: flex-start;
            height: 100vh;
        }
        /*.footer-copyright {
            position: fixed;
            bottom: 0;*/ /* Stick to the bottom of the screen */
            /*width: 100%;*/ /* Full width */
            /*background-color: #333;*/ /* Example background color, you can change this */
            /*color: white;*/ /* Example text color, you can change this */
            /*padding: 10px;*/ /* Add some padding for better visibility */
            /*height: 10vh;*/ /* Set the height to 50% of the viewport height */
        /*}*/
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 text-dark min-vh-100 d-flex flex-column">
                <div class="list-group flex-grow-1 ">
                    <div class="navbar-nav" id="menu">
                        <div class="header-main">
                            <!-- logo start -->
                            <div class="header-element logo img ">
                                <a>
                                    <img src="~/image/logo1.jpg" alt="logo-image" class="img-responsive">
                                </a>
                                <!-- logo End -->
                            </div>
                        </div>
                        <!-- Sidebar Options -->
                        <strong>
                            <a href="/Executive/DisplayExecutives" class="list-group-item text-black">Manage Executives</a>
                            <a href="/Distributor/DisplayDistributors" class="list-group-item text-black">Manage Distributor</a>
                            <a href="/Retailor/DisplayRetailors" class="list-group-item text-black">Manage Retailor</a>
                            <a href="/Category/DisplayCategories" class="list-group-item text-black">Manage Categories</a>
                            <a href="/Product/DisplayProduct" class="list-group-item text-black">Manage Products</a>
                            <a href="/Test/DailyDSR" class="list-group-item text-black">Daily DSR</a>
                        </strong>

                        <div class="dropdown">
                           <b> <a class="list-group-item dropdown-toggle text-black" data-toggle="dropdown" href="#">
                                Reports
                            </a>
                            </b>
                            <div class="dropdown-menu" style="background-color: gray;">
                                <a class="dropdown-item text-black" href="#">Distributor Reports</a>
                                <a class="dropdown-item text-black" href="#">Executive Reports</a>
                                <a class="dropdown-item text-black" href="#">Retailor Reports</a>
                            </div>

                        </div>
<<<<<<< HEAD
<<<<<<< HEAD
                    </div>
=======
=======

>>>>>>> ac13e5f (layout file changed)
            </div>
                    
>>>>>>> 551fb29 (commit)

                    </div>
                    <!-- Add more options as needed -->
                    @RenderSection("SideBarOptions", false)
                </div>
            </div>
            <div class="col-10 min-vh-100">
                <!-- Banner Section -->
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> ac13e5f (layout file changed)
                @*<div class="jumbotron" style="height:20%;">*@
                <div>
                    <div id="fix">
                        @*<div class="banner-container">*@
                        <!-- Add your banner content for this page -->
                        @*<img src="~/image/Screenshot 2024-01-25 at 12.58.14 AM.png" alt="Banner Image" class="img-fluid" style="max-height: 300px; height:100%;">*@
                        @*<img src="~/image/Screenshot 2024-01-25 at 12.00.53 AM.png" alt="Banner Image" class="img-fluid" style="max-height: 300px; height:100%;">*@
                        @*<img src="~/image/Screenshot 2024-01-25 at 12.00.48 AM.png" alt="Banner Image" class="img-fluid" style="max-height: 300px; height:100%;">*@
                        <img src="~/image/Screenshot 2024-01-25 at 12.00.58 AM.png" alt="Banner Image" class="img-fluid" style="max-height: 200px; height:70%;">
                    </div>
<<<<<<< HEAD
                    @*<<<<<<< HEAD

                    =======
=======
                <div class="jumbotron" style="height:30%;">
                    <!-- Add your banner content for this page -->
                    <img src="~/image/photo-indian-spices-background-with-copy-space_763111-23461.jpeg" alt="Banner Image" class="img-fluid" style="max-height:100%;">

>>>>>>> 486ae68 (conflicts ressolved)


<<<<<<< HEAD
                    >>>>>>> b006637 (commit)*@
=======
                    
>>>>>>> ac13e5f (layout file changed)
                </div>
                <div id="ver">
                    <div style="padding-top: 30vh;">
                        @RenderBody()
                    </div>
                    @*<section class="footer-copyright" >
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <ul class="f-bottom">
                                        <li class="f-c f-copyright">
                                            <p>Copyright <i class="fa fa-copyright"></i> 2023 Natural</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </section>*@
<<<<<<< HEAD
=======

>>>>>>> 551fb29 (commit)
=======
>>>>>>> ac13e5f (layout file changed)
                </div>
            </div>
<<<<<<< HEAD
                @*<<<<<<< HEAD*@
            </div>



    <!-------------------------------------------------------COPY RIGHT-------------------------------------->

    <section class="footer-copyright" positon ="fixed" style="height: 05vh;" >
        <div class="container" >
            <div class="row">
                <div class="col">
                    <ul class="f-bottom">
                        <li class="f-c f-copyright">
                            <p>Copyright <i class="fa fa-copyright"></i> 2023 Natural</p>
                        </li>
                    </ul>
        </div>
        </div>
            </section>

        <!-------------------------------------------------------COPY RIGHT-------------------------------------->


=======

    </div>
    



        <!-------------------------------------------------------COPY RIGHT-------------------------------------->

        <section class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="f-bottom">
                            <li class="f-c f-copyright">
                                <p>Copyright <i class="fa fa-copyright"></i> 2023 Natural</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
<<<<<<< HEAD
>>>>>>> 551fb29 (commit)
=======
            </div>



    <!-------------------------------------------------------COPY RIGHT-------------------------------------->

    <section class="footer-copyright" positon ="fixed" style="height: 05vh;" >
        <div class="container" >
            <div class="row">
                <div class="col">
                    <ul class="f-bottom">
                        <li class="f-c f-copyright">
                            <p>Copyright <i class="fa fa-copyright"></i> 2023 Natural</p>
                        </li>
                    </ul>
        </div>
        </div>
            </section>

        <!-------------------------------------------------------COPY RIGHT-------------------------------------->

>>>>>>> ac13e5f (layout file changed)
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <!-- fontawesome -->
        <script src="~/js/fontawesome.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/modernizr-2.8.3.min.js"></script>
        <script src="~/js/jquery-3.6.4.min.js"></script>
        <!-- bootstrap -->
        <script src="~/js/bootstrap.min.js"></script>
        <!-- popper -->
        <script src="~/js/popper.min.js"></script>
        <!-- fontawesome -->
        <script src="~/js/fontawesome.min.js"></script>
        <!-- owl carousal -->
        <script src="~/js/owl.carousel.min.js"></script>
        <!-- swiper -->
        <script src="~/js/swiper.min.js"></script>
        <!-- custom -->
        <script src="~/js/custom.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>