@model IEnumerable<NatDMS.Models.EditProduct>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top img-fluid" src="@product.PresignedUrl" alt="@product.ProductName">
                <div class="card-body">
                    <h5 class="card-title">@product.Category</h5>
                    <p class="card-text">@product.ProductName</p>
                </div>
            </div>
        </div>
    }
</div>
