@model NatDMS.Models.SaveDistributorViewModel

@{
    ViewData["Title"] = "CreateDistributor";
}

<h1>CreateDistributor</h1>

<h4>SaveDistributorViewModel</h4>
<hr />

@using(Html.BeginForm())
{
<div class="row">
    <div class="col-md-4">
        <form asp-action="Disttributor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*    <div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" id="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" id="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
          


            <div class="form-group">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("name", new SelectList(ViewBag.State, "Id", "StateName"),new { id = "state", onchange = "statechange()" })
                </div>
            </div>
            <div class="form-group">
                <style>
                    #city option {
                        color: burlywood; /* Change this to the desired text color */
                    }
                </style>
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class=" col-md-10">
                    <select id="city" onchange="citychange()">
                        <option value="select"> </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <div class="col-md-10">
                    <select id="area">
                        <option value="select"> </option>
                    </select>
                </div>
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="button" value="Create" class="btn btn-primary" onclick="CustSave()" />
            </div>


        </form>

    </div>

    <script src="~/js/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
        function statechange() {
            debugger;
            alert("hello")
            var stid = $('#state').val();
            if (stid.trim() != '') {
                var ddlcity = $('#city');


                ddlcity.empty();

                $.ajax(
                    {
                        url: "/Distributor/cityData",

                        type: 'GET',
                        dataType: 'json',
                        data: { Id: stid },

                        success: function (d) {
                            alert("Success")

                            ddlcity.append($("<option></option>").val('').html('SelectCity'));
                            $.each(d, function (i, cities) {

                                ddlcity.append($("<option>" + cities.cityName + "</option>").val(cities.id).html(cities.cityName));

                            });
                        },
                        error: function () {
                            alert('Error!');
                        }
                    });
            }

        }

        function citychange() {
            debugger;
            alert("hello")
            var stid = $('#city').val();
            if (stid.trim() != '') {
                var ddlarea = $('#area');


                ddlarea.empty();

                $.ajax(
                    {
                        url: "/Distributor/GetArea",

                        type: 'GET',
                        dataType: 'json',
                        data: { Id: stid },

                        success: function (d) {
                            alert("Success")

                            ddlarea.append($("<option></option>").val('').html('SelectArea'));
                            $.each(d, function (i, areas) {

                                ddlarea.append($("<option>" + areas.areaName + "</option>").val(areas.id).html(areas.areaName));

                            });
                        },
                        error: function () {
                            alert('Error!');
                        }
                    });
            }

        }

      function CustSave() {
                    alert("save")
          // var Distributor = {
          //     State : $('#state').val(),
          //  FirstName : $('#FirstName').val(),
          //   City : $('#city').val(),
          //   Area :$('#area').val(),
          //          LastName  : $('#LastName').val()
          // };

          var Distributor = new object();
            Distributor.FirstName = $('#FirstName').val()
            Distributor.LastName = $('#LastName').val()
            Distributor.Area = $('#area').val()
            Distributor.State = $('#state').val()
            Distributor.City = $('#city').val()

                    $.ajax({
                url: "/Distributor/result",
                        type: 'POST',
                        dataType: 'json',
                data: JSON.stringify(Distributor),
                // data: { data: Distributor },
                       
                        contentType: 'application/json; charset=utf-8',
                        success: function () {

                    window.location.href = '/Distributor/DisplayDistributors';
                        },
                        error: function () {
                           alert('Error!');
                        }
                    });

                }
    </script>

</div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
