@model NatDMS.Models.DistributorViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create Distributor</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyYqBSgFfPIpsW0E2rmQQYAyw1pqGtJx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/my.css">


</head>
<body>

    <div class="container">
        <h3 class="text-left">Create Distributor</h3>
        <hr />

        <form asp-action="CreateRetailors">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <td>
                <b>
                    <label asp-for="FirstName" class="control-label">First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </b>
            </td>
            <td>
                <b>
                    <label asp-for="LastName" class="control-label">Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </b>
            </td>
            <tr>
                <td>
                    <b>
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </b>
                </td>

                <td>
                    <b>
                        <label asp-for="MobileNumber" class="control-label">Mobile Number</label>
                        <input asp-for="MobileNumber" class="form-control" />
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </b>
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        <label asp-for="Address" class="control-label">Address</label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </b>
                </td>
                <td>
                    <b>
                        <label asp-for="State" class="control-label">State</label>
                        <select asp-for="State" asp-items="ViewBag.States" class="form-control" onchange="loadCities()">
                            <option value="">Select State</option>
                        </select>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </b>
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        <label asp-for="City" class="control-label">City</label>
                        <select asp-for="City" asp-items="ViewBag.Cities" class="form-control">
                            <option value="">Select City</option>
                        </select>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </b>
                </td>
                <td>
                    <b>
                        <label asp-for="Area" class="control-label">Area</label>
                        <select asp-for="Area" asp-items="ViewBag.Areas" class="form-control">
                            <option value="">Select Area</option>
                        </select>
                        <span asp-validation-for="Area" class="text-danger"></span>
                    </b>
                </td>
            </tr>

            <div class="btn-container">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>

    <!-- Bootstrap JS and other scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUcXGw+CA9Kd" crossorigin="anonymous"></script>
</body>
</html>
