.search-container {
    border: 1px solid #F7D3D3;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0.2px 0.2px;
    max-width: 950px;
    margin: 15px;
    margin-left: 6.2rem;
    margin-right: 100px;
    border-left-width: 10px;
    border-right-width: 10px;
    margin-top: 0.2rem;
}

.row {
    margin-bottom: -14px;
}

.search-container select,
.search-container input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 350px;
}

.search-container select {
    width: 161px;
    margin-right: 40px;
    color: #2B3A42;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}

.search-container input {
    flex-grow: 1;
    padding: 25px;
}

.search-container button {
    background: none;
    border: none;
    margin-left: 9rem;
    cursor: pointer;
}

    .search-container button img {
        width: 20px;
        height: 20px;
    }

@media only screen and (max-width: 600px) {
    .search-container {
        border: 1px solid #F7D3D3;
        border-radius: 25px;
        display: block;
        align-items: center;
        padding: 0.2px 0.2px;
        max-width: auto;
        margin: 0px;
        margin-left: 0px;
        margin-right: 0px;
        border-left-width: 10px;
        border-right-width: 10px;
        margin-top: 0.2rem;

    }
    .dropdown-menu {
        width: 300px !important;
    }

    .search-container button {
        background: none;
        border: none;
        margin-left: 0px;
        cursor: pointer;
    }

    .search-container input {
        border: none;
        outline: none;
        font-size: 16px;
        width: 18rem;
    }
}
