

.list-group-item {
    margin-bottom: 40px; /* Adjust the margin as needed */
    text-decoration: none !important;
    white-space: nowrap;
    overflow: hidden; /* Hide the overflow text */
    text-overflow: ellipsis;
    font-style: initial;
    background-color: burlywood;
    height: 50px; /* Set a specific height for the box */
}


.img-fluid {
    height: 6%;
    width: 200%;
}

.back {
    background-image: url('~/image/about-image.png.png');
    background-size: cover;
}

.custom-navbar {
    background-color: burlywood; /* Set your preferred color */
    height: 11%
}

.container-fluid {
    background-color: papayawhip;
}
